/Casteos/nbproject/private/
/Ejemplos_Clase03/nbproject/private/
/Ejemplos_Clase03/build/
/Ejemplo_MVC/nbproject/private/
/Ejemplo_MVC/build/
/Ejemplo_Hilos/nbproject/private/
/Ejemplo_Hilos/build/
/Ejemplo_Login/nbproject/private/
/Ejemplo_Login/build/
/Ejemplo_clase07/nbproject/private/
/Ejemplo_clase07/build/
/Ejemplo_SerializacionDeserializacion/nbproject/private/
/Ejemplo_SerializacionDeserializacion/build/
/Ejemplo_SerializacionDeserializacion/dist/
/Ejemplo_ManejodeArchivos/nbproject/private/
/Ejemplo_ManejodeArchivos/build/
